body{
min-height: 100vh;
margin:0;
padding:0;
font-family: Roboto, sans-serif;
background-color: #FFFFFF;
}

.bigcontainer{
display:flex;
flex-direction: column;
}

.navbar{
display:flex;
background-color: #1F2937;
color: #F9FAF8;
padding:16px 32px;
justify-content: space-between;
align-items: center;
font-size: 18px;
}

.logo img{
height:84px;
width:84px;
}

ul{
display:flex;
list-style: none;
padding:0;
margin:0;
gap:24px;
align-items: center;
}

li{
font-size: 18px;
font-family: Roboto, sans-serif;
}

/*I still want to find a way to align the hero text section with the header logo + quote section 
horizontally but this will suffice for now */

.herocontainer{
background-color: #1F2937;
display:flex;
justify-content:center;
align-items: center;
padding:50px;
}

.card-one{
display:flex;
flex-basis:400px;
flex-wrap: wrap;
align-items: center;
text-align:left;  
padding:0px 0px 0px 50px;
margin-left:150px;
}

.card-two{
display: flex;
flex-basis:300px;
margin-right:200px;
}

.card-two img{
max-width:500px;
max-height:350px;
}


h1{
font-size: 4em;
font-weight:bolder;
color:#F9FAF8;
margin:0;
}

.herocontainer p{
margin-bottom:8px;
margin-right:150px;
width:400px;
font-size: 18px;
color:#e5e7eb;
opacity:0.7;
}

.herobutton{
display:Flex;
justify-content: space-around;
align-items: center;
width:100px;
background: royalblue;
border-color:#fff;
color: white;
padding:8px;
border-radius: 8px;
font-weight: bolder;
}

/* end of hero section */

.title{
text-align:center;
font-size: 3em;
font-weight:bolder;
color:#1F2937;
padding:32px 0px;
background-color: white;
}

.infocontainer{
display:flex;
flex:1;
justify-content: center;
gap:52px;
text-align: center;
align-items: center;
background-color: white;
flex-wrap: wrap;
margin:50px;
}

.herocontainer img,
.infocontainer img{
height:200px;
width:auto;
}

.info{
width:200px;
padding:0px 0px 32px 0px;
}

.quote{
margin:0;
background:#e5e7eb;
padding:1em;
display:flex;
flex-direction: column;
align-items: center;
font-size:36px;
}

.quote figcaption,
.quote blockquote{
margin:1em;
}

.quote figcaption{
text-align: right;
font-weight: bold;
font-size:24px;
}


.modal{
display:flex;
flex:1;
background-color: #3882F6;
padding:25px 150px;
margin:50px;
border-radius: 8px;
justify-content: space-around;
align-items: center;
gap:120px;
}

h2{
font-weight: 900;
font-size: 18px;
color:white;
}

.modaltext p{
color:white;
}

.modalbutton{
border-radius: 8px;
border-color:#fff;
padding:8px 24px; 
background: #3882F6;
color:#FFF;
font-weight: bold;
}

footer{
height:72px;
display:flex;
flex:0;
padding:16px;
background-color: #1F2937;
color:#F9FAF8;
align-items: center;
justify-content: center;
}

/* TO DO

-finish modal section
-see about aligning card section with header and action; align quote and info section (set width to 1100 or so)
-consider reformating how i grouped stuff; maybe header quote and card section just in one section? idk
-tweak quote section to be better looking
-refine coding and edit out superfluous stuff 

-add icon image in html [   <link rel="icon" href="images/shiba-logo.png"> ]
use object-fit to contain images within containers
text-align:center in body
put earthbound logo back in header and explicitly define width and height
remove explicit width and height for containers and replace with margins, background color, padding 
pppp