body{
min-height: 100vh;
margin:0;
font-family: Roboto, sans-serif;
font-size:75%;
display:flex;
flex-direction: column;

}

header{
height:72px;
padding:16px 0px;
background-color: #1F2937;
color: #e5e7eb;

}

.header{
display:flex;
flex:1;
align-items: center;
justify-content:space-around;
margin:auto;
}

.links{
display:flex;
align-items: center;
}

img{
height:200px;
width:auto;
}

ul{
display:flex;
align-items: center;
list-style: none;
padding:0;
margin:0;
gap:24px;

}

li{
margin-bottom:16px;
font-size: 1.5em;
}

/*I still want to find a way to align the hero text section with the header logo + quote section 
horizontally but this will suffice for now */

.herocontainer{
background-color: #1F2937;

}

.card-container{
display:flex;
flex:1;
justify-content:center;
align-items: center;
margin:50px auto;


}
.card-one{
display:flex;
flex-wrap: wrap;
align-items: center;
justify-content: flex-start;
max-width:450px;   
}

.card-two{
display: flex;
align-items: center;
max-width:450px;
}

.herotext{
font-size: 4em;
font-weight:bolder;
color:#F9FAF8;
margin-bottom: 4px;

}
.sidekicktext{
margin-bottom:8px;
width:400px;
font-size: 18px;
color:#e5e7eb;

}
.herobutton{
display:Flex;
justify-content: space-around;
align-items: center;
width:100px;
background: royalblue;
border: 1px solid royalblue;
color: white;
padding:8px;
border-radius: 8px;
font-weight: bold;
}

/* end of hero section */


.title{
text-align:center;
font-size: 3em;
font-weight:bolder;
color:#1F2937;
margin:32px 0px 0px 0px;

}

.infocontainer{
display:flex;
flex:1;
justify-content: center;
gap:52px;
text-align: center;
align-items: center;
height:400px;
}

.info{
max-width:200px;
}


.quoteblock{
min-height:300px;
background-color: #e5e7eb;
display:flex;
justify-content: center;
align-items: center;
margin:0px;
padding:50px 50px;


}

.quotecontainer{
display:flex;
max-width:900px;
flex-wrap: wrap;
font-size: 36px;
justify-content: flex-end;


}

.thor{
font-weight: bolder;
}

.actionblock{
height:300px;
display:flex;
flex-shrink:0;
justify-content: center;
align-items: center;
}

.modal{
display:flex;
background-color: #3882F6;
padding:25px 150px;
border-radius: 8px;
justify-content: space-between;
gap:120px;
align-items: center;
flex-wrap: wrap;
}


.modalheader{
font-weight: 900;
font-size: 18px;
color:white;
}
.modalbody{
color:white;
}

.modalbutton{
border-radius: 8px;
border:2px solid white;
padding:8px 24px; 
background: #3882F6;
color: white;
font-weight: bold;
 
}


footer{
height:72px;
display:flex;
flex:0;
padding:16px;
background-color: #1F2937;
color:#F9FAF8;
align-items: center;
justify-content: center;
}

/* TO DO

-finish modal section
-see about aligning card section with header and quote 
-consider reformating how i grouped stuff; maybe header quote and card section just in one section? idk
-tweak quote section to be better looking
-refine coding and edit out superfluous stuff 


pppp